@model WalletVM
@{
    ViewData["Title"] = "Wallet";
}

@section Scripts{ 
    <script type="text/javascript">

        function OnSuccess(e) {
            console.log(e) 
            alert("Transaction Success")         
            window.location = "/Wallet";
        }

    </script>
    <partial name="_ValidationScriptsPartial" />
}


    <div class="main-content">
        <div class="container ">  
            <div class="row">
                <div class="col-4">
                    <div class="card ">
                    <img src="~/img/profile.png" class="card-img-top" alt="...">
                    <div class="cardbody">
                        <div class="form-group px-3">
                            <label asp-for="UserEmail">Email</label>
                            <input asp-for="UserEmail" class="form-control" readonly>
                        </div>
                        <div class="form-group px-3">
                            <label asp-for="UID">User ID</label>
                            <input asp-for="UID" class="form-control" readonly>
                        </div>
                        <div class="form-group px-3">
                            <label asp-for="Balance">Balance</label>
                            <input asp-for="Balance" class="form-control" readonly>
                        </div>
                    </div>                   
                    </div>
                </div>
                <div class="col-8 card text-center">
                    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-changepass-tab" data-toggle="pill" href="#pills-changepass" role="tab" aria-controls="pills-changepass" aria-selected="true">Deposit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-updateprof-tab" data-toggle="pill" href="#pills-updateprof" role="tab" aria-controls="pills-updateprof" aria-selected="false">Withdraw</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-verification-tab" data-toggle="pill" href="#pills-verification" role="tab" aria-controls="pills-verification" aria-selected="false">History</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-changepass" role="tabpanel" aria-labelledby="pills-changepass-tab">
                        @Html.Partial("~/Views/Wallet/_Deposit.cshtml",Model.VoucherCommand)
                    </div>
                    <div class="tab-pane fade" id="pills-updateprof" role="tabpanel" aria-labelledby="pills-updateprof-tab">
                        <h3>No Data Available!</h3>
                    </div>
                    <div class="tab-pane fade" id="pills-verification" role="tabpanel" aria-labelledby="pills-verification-tab">                         
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Transaction Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.WalletHistory)
                            {
                                <tr>
                                    <th>@item.TransactedOn.ToShortDateString()</th>
                                    <td>@item.TransactionType</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Remarks</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>                  
        </div>
    </div>

